# Flutter
.dart_tool/
# build/
*.dart.js
*.dart.js.deps
*.dart.js.map
*.info.json
*.js_
*.js.deps
*.js.map
*.part.js
*.part.js.deps
*.part.js.map
flutter_*.png
packages/

# Android
*.apk
*.aab
*.dex
*.class
*.log
*.iml
*.ipr
*.iws
.idea/
.gradle/
local.properties


# iOS
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.xcuserstate
*.xcuserdatad
*.xccheckout
*.moved-aside
DerivedData/
.swiftpm/
build/
GeneratedPluginRegistrant.h
GeneratedPluginRegistrant.m

# macOS
*.dSYM
*.app
.DS_Store

# Firebase
google-services.json
GoogleService-Info.plist

# Environment
.env
*.env

# IDE
.vscode/
.vscode-flutter.json

