rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Ogni utente puo' leggere e scrivere solo i propri dati
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      match /versions/{versionId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
